* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  width: 50px;
}
.header__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.header__item {
  padding: 6px;
  margin: 10px;
  border-radius: 5px 20px 5px 20px;
  border: 1px solid gainsboro;
  text-align: center;
  font-size: 14px;
}
.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.landing__title {
  color: gray;
  z-index: 1;
}
/* .cover {
  z-index: -2;
  size: 50%;
  height: 80vh;
  opacity: 0.3;
} */
