.landing {
  height: 80vh;
  &__navigation-menu {
    max-width: 50px;
    position: fixed;
    top: 50px;
    right: 30px;
    opacity: 0.8;
  }
  &__list {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    background-color: rgba(180, 180, 180, 0.2);
  }
  &__about {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-image: linear-gradient(
      to bottom,
      rgba(216, 88, 233, 0.3),
      rgba(52, 199, 174, 0.4)
    );
    &--image {
      height: 17vh;
      border-radius: 4em;
      opacity: 0.8;
      box-shadow: 1px 4px 3px -1px gray;
    }
    &--image:hover {
      opacity: 0.5;
    }
    // &--text {
    //   margin-left: 20px;
    // }
  }
  &__skills {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    background-image: linear-gradient(
      to bottom,
      rgba(52, 199, 174, 0.4),
      rgba(32, 214, 32, 0.3)
    );
  }
  &__projects {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    background-image: linear-gradient(
      to bottom,
      rgba(32, 214, 32, 0.3),
      rgba(52, 199, 174, 0.4)
    );
    &--text {
      background-color: rgba(110, 110, 110, 0.6);
      padding: 40px;
      border-radius: 5em;
      box-shadow: 1px 4px 3px -1px gray;
    }
  }
  &__contact {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    background-image: linear-gradient(
      to bottom,
      rgba(52, 199, 174, 0.4),
      rgba(216, 88, 233, 0.3)
    );
  }
  &__link {
    text-decoration: none;
  }
}
